.container
  .show
    .show_title
      .show_name
        %h2= @task.title
      .show_edit
        - if user_signed_in? && current_user.has_written?(@task)
          .dropdown
            = image_tag 'actions.svg', class: 'dropbtn'
            .dropdown-content
              = link_to 'Edit', edit_board_task_path(@board, @task)
              = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
    - if @task.eyecatch.attached?
      .show_image
        = image_tag @task.eyecatch
    - if @task.content.present?
      .show_content
        = @task.content
    .show_comment
      %h2= "Comment"
      - @comments.each do |comment|
        .comment_items
          .comment_avatar
            - if comment.user.avatar.attached?
              = image_tag comment.user.avatar, class: 'comment_avatar'
            - else
              = image_tag 'default-avatar.png', class: 'comment_avatar'
          .comment_sentence
            %p= comment.body
    - if user_signed_in?
      .add_comment
        = link_to("+ Add new comment", new_board_task_comment_path(@board, @task), {class: "add_comment_content"})
