.container
  %h2 All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .board
        .board_name
          = board.name
        .board_description
          = board.description
        .board_icon
          = image_tag 'default-avatar.png', class: 'board_avatar'
          - if user_signed_in? && current_user.has_created?(board)
            .dropdown
              = image_tag 'actions.svg', class: 'dropbtn'
              .dropdown-content.mini
                = link_to 'Edit', edit_board_path(board)
                = link_to 'Delete', board_path(board), data: { method: 'delete', confirm: '本当に削除してもよろしいですか？' }
  - if user_signed_in?
    .add_board
      = link_to("+ Add new board",new_board_path, {class: "add_board_content"})
